.primary-button {
    background-color: #D33753 !important;
    color: white !important;
    width: 100%;
    border: none !important;
}

.primary-button:hover {
    background-color: #da556d !important;
}

.bg-profile {
    background-color: #da556d !important;
    color: white;
}

.bg-footer {
    background-color: #dadada !important;
}