.primary-button {
    background-color: #D33753 !important;
    color: white !important;
    width: 100%;
    border: none !important;
}

.primary-button:hover {
    background-color: #da556d !important;
}

.primary-button-outline {
    background-color: #ffffff !important;
    outline: 2px solid #D33753 !important;
    color: #D33753  !important;
    border: none !important;
}

.primary-color {
    color: #D33753 !important;
}

.bg-profile {
    background-color: #da556d !important;
    color: white;
}

.bg-footer {
    background-color: #dadada !important;
}