

/* .navbar-div{
    max-height: 50px;
} */

/* .navbar-brand {
    height: 100%;
    width: auto;
}

.navbar-brand img {
    height: 100px;
    width: 100px;
}

.nav-link{
    float: right;
    background-color: blue;
    color: red;
} */

.navbar .nav-link { 
    flex-direction: row;
    float: left;
}